@import './../../helper/colors.scss';
@import './../../helper/fonts.scss';
.nav{
    background-color: $black;
    main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin-left: 10%;
        
        figure{
            margin: 10px 0 0 0;
            padding: 0;
        }
        .rating {
            font-size: 24px;
            color: $red;
            display: flex;
            flex-direction: row;
            justify-content: right;
            margin: 0;
            span{
                color: $whith;
            }
          }

          ul{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            padding-top: 30px;
            
            li{
                list-style: none;
                text-decoration: none;
                a{
                    text-decoration: none;
                    color: $whith;
                    font-weight: 300;
                    font-family: "Open Sans", serif;
                    font-size: 16px;
                     
                }
                .active {
                    color: red; /* Active link color */
                    font-weight: bold;
                    border-bottom: 2px solid red;
                  }
            }
            br {
                width: 30px;
                height: 30px;
                color: white;
            }
          }
    }
   
}

